# Hugo
public/
resources/
*.log
resources/_gen/
.hugo_build.lock
hugo_stats.json

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.continue/

# Dependencies
node_modules/
yarn.lock
package-lock.json