@use "colors" as *;
@use "variables" as *;

@mixin brutal-border($color: #4a4a4a, $border: $border-4, $hoverBackground: null, $noHover: false) {
  border: $border;
  box-shadow: 8px 8px 0px $color;
  transition: all 0.1s ease;

  @if not $noHover {
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 10px 10px 0px $color;
      @if $hoverBackground {
        background-color: $hoverBackground;
      }
    }
  }
}
