@use "colors" as *;

$border-1: 1px solid $primaryColor;
$border-2: 2px solid $primaryColor;
$border-3: 3px solid $primaryColor;
$border-4: 4px solid $primaryColor;
$border-5: 5px solid $primaryColor;