<div
  class="slider-container flex flex-row items-center justify-center gap-1 md:gap-4 md:px-8 md:mb-4"
>
  <button class="w-[10%] md:w-[5%] slider-nav-btn slider-nav-prev" aria-label="Previous slide">
    <i class="fa-solid fa-angle-left"></i>
  </button>
  <swiper-container id="home-slider" class="w-[70%] md:w-[90%]" init="false">
    {{ range .Params.slides }}
      <swiper-slide>
        <div class="slide">
          <div class="content">
            <h2>{{ .title }}</h2>
            <p>{{ .description }}</p>
          </div>
        </div>
      </swiper-slide>
    {{ end }}


    <!-- Placeholder slides for preview -->
    <swiper-slide>
      <div class="slide">
        <div class="content">
          <h2>{{ i18n "workPrinciples.detail" }}</h2>
          <p>
            {{ i18n "workPrinciples.detailSupport" }}
          </p>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <div class="content">
          <h2>{{ i18n "workPrinciples.problemSolving" }}</h2>
          <p>
            {{ i18n "workPrinciples.problemSolvingSupport" }}
          </p>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <div class="content">
          <h2>{{ i18n "workPrinciples.teamwork" }}</h2>
          <p>
            {{ i18n "workPrinciples.teamworkSupport" }}
          </p>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <div class="content">
          <h2>{{ i18n "workPrinciples.communication" }}</h2>
          <p>
            {{ i18n "workPrinciples.communicationSupport" }}
          </p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <button class="w-[10%] md:w-[5%] slider-nav-btn slider-nav-next" aria-label="Next slide">
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
