<div class="brutal-socials">
    <a href="mailto:{{ .Site.Params.socials.email }}" title="Email" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-envelope"></i>
    </a>
    <a href="{{ .Site.Params.socials.linkedin }}" title="LinkedIn" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="{{ .Site.Params.socials.github }}" title="GitHub" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="{{ .Site.Params.socials.instagram }}" title="Instagram" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="{{ .Site.Params.socials.resume }}" title="CV" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-file"></i>
    </a>
</div>