{{- /*
  Renders a menu for the given menu ID.

  @context {page} page The current page.
  @context {string} menuID The menu ID.

  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul
      class="flex flex-col flex-row flex-wrap items-center justify-center gap-10 text-2xl md:flex-nowrap md:justify-start"
    >
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <li class="mx-4">
          {{- $currentLang := site.Language.Lang -}}
          {{- range $i, $translation := $page.AllTranslations -}}
            {{- if gt $i 0 -}}
              <span class="mx-2">|</span>
            {{- end -}}
            <a
              href="{{ .RelPermalink }}"
              class="language language-{{ .Lang }}  {{ if eq .Lang $currentLang }}
                active
              {{ end }} font-semibold"
              >{{- .Lang | upper -}}</a>
          {{- end -}}
      </li>
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if not .URL }}
      {{- $attrs = merge $attrs (dict "class" "disabled cursor-not-allowed") }}
    {{- end }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a class="brutal-button brutal-button-2 md:brutal-button-4 font-semibold"
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        >{{ $name }}</a
      >
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
