{{ define "main" }}
  <article class="post post-justify mx-6 my-4 md:mx-10">
    <div class="post-head border-bottom">
      <h1 class="text-2xl font-bold md:text-3xl">{{ .Title }}</h1>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time
        class="block my-2 text-lg italic md:text-xl"
        datetime="{{ $dateMachine }}"
        >{{ $dateHuman }}
      </time>
    </div>
    <div class="post-body">
      {{ .Content }}
    </div>
    <div class="post-tail mt-6">
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </article>
{{ end }}
