{{ define "main" }}
  <div class="posts post-justify mx-6 md:mx-10">
    <div class="border-bottom mb-4">
      <h1 class="text-2xl font-bold md:text-3xl">{{ .Title }}</h1>
      <p class="text-lg md:text-xl">
        {{ .Content }}
      </p>
    </div>

    <!-- Table layout -->
    <table class="w-full border-collapse">
      <thead>
        <tr>
          <th class="text-left text-lg md:text-xl font-semibold border-b-2 border-[var(--primary-color)] pb-2">
            {{ .Title }} ({{ len .Data.Terms }})
          </th>
          <th class="text-left text-lg md:text-xl font-semibold border-b-2 border-[var(--primary-color)] pb-2">
            {{ .Params.PostCount }}
          </th>
        </tr>
      </thead>
      <tbody>
        {{ range .Data.Terms.Alphabetical }}
          <tr class="posts-tbl-bdr not-last:border-b-2 border-dotted border-[var(--primary-color)] hover:border-white hover:bg-[var(--primary-color)] hover:text-white">
            <td class="relative py-4 pr-4 md:pl-2 border-r-2 border-dotted border-[var(--primary-color)] hover:border-white">
              <a href="{{ .Page.RelPermalink }}" class="text-lg md:text-xl after:absolute after:inset-0 after:content-['']">
                <h2 class="text-lg md:text-xl font-bold pb-2">{{ .Page.LinkTitle }}</h2>
              </a>
            </td>
            <td class="relative py-4 pl-4 text-lg md:text-xl">
                <a href="{{ .Page.RelPermalink }}" class="text-lg md:text-xl after:absolute after:inset-0 after:content-['']">
                    <p>{{ .Count }}</p>
                </a>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <!-- End table layout -->
    </div>
  </div>
{{ end }}
